argcomplete
asgiref
astroid
autopep8
dill
Django
gunicorn
isort
mccabe
pillow
pipx
platformdirs
psycopg2
psycopg2-binary
pycodestyle
pylint
pylint-django
pylint-plugin-utils
sqlparse
tomli
tomlkit
typing_extensions
userpath
